/* h1 {
    text-align: center
}
#div {
    text-align: center;
}
#remove {
    margin: 5px;
    height: 30px;
    width: 60px;
    text-align: center;
}

#completed:hover {
    background-color: rgb(37, 185, 37);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
    height: 40px;
    width: 40px;
}

#remove:hover{
    background-color: red;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    box-shadow: 3px 3px 3px black;
}

#new-text {
    height: 36px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid black;
    color: black;
}
#completed {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    font-weight: 1000;
    font-family: monospace;
    margin: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: larger;
} */